<h1>Words</h1>
<center><table class="table table-striped">
  <thead>
    <th style="text-align-center">Text</th>
    <th style="text-align-center">Letters</th>
  </thead>
  <tbody>
    <% if !@word.all.nil? %>
    <% @word.sort.each do |word| %>
    <tr>
      <td><a href="<%= "/words/#{word.id}" %>"><%= word.text %></a></td>
      <td><%= word.letters %></td>
      <td><a href="<%= "/words/#{word.id}/edit" %>">Edit</a></td>
      <td><form action="<%= "/words/#{word.id}" %>" method="post">
        <input type="hidden" name="_method" value="Delete"/>
        <button type="submit" class="btn btn-danger"><i class="fa fa-eraser"></i> Delete</button>
      </form></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table></center>
